@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../abstracts/functions' as *;
@use '../base/typography' as t;

.deals {
    width: 100%;
    @include m.flex-layout(center, center, row);
    position: fixed;
    inset: 0;
    display: none;
    z-index: 50;
    background: rgba(0, 0, 0, 0.5);

    &__container {
        @include m.flex-layout(center, center, column);
        gap: rem(20);
        width: rem(360);
        min-height: rem(375);
        background-color: v.$color-light;
        border-radius: rem(24);
        position: relative;
        padding: rem(24) rem(24);
    }

    &__text-box {
        @include m.flex-layout(space-evenly, center, column);
        gap: rem(8);
    }

    &__close-button {
        height: rem(20);
        width: rem(20);
        position: absolute;
        right: rem(15.5);
        top: rem(15.5);
        background: transparent;
    }

    &__win-box {
        @include m.flex-layout(space-between, center, column);
        width: 100%;
        gap: rem(8);
        &-heading {
            font-size: rem(12);
            font-family: t.$font-secondary;
            font-weight: t.$weight-700;
        }
    }

    &__button {
        @include m.flex-layout(center, center, row);
        gap: rem(8);
        padding: rem(10) rem(32);
        width: 100%;
        border-radius: rem(100);
        font-size: rem(14);
        font-weight: t.$weight-700;
        height: rem(49);
    }
}

.winnings {
    background-color: v.$color-light;
    @include m.flex-layout(center, center, column);
    gap: rem(20);
    width: rem(360);
    min-height: rem(375);
    background-color: v.$color-light;
    border-radius: rem(24);
    position: relative;
    padding: rem(24) rem(24);

    &__text-box {
        @include m.flex-layout(space-evenly, center, column);
        gap: rem(8);
    }

    &__prizes {
        @include m.flex-layout(space-between, center, column);
        gap: rem(10);
        max-height: rem(300);
        overflow-y: auto;
    }

    &__empty {
        font-family: t.$font-secondary;
        font-weight: t.$weight-700;
        color: v.$deals-color-accent-1;
    }
}

.hide {
    display: none;
}

.special-deals-open {
    @include m.flex-layout(flex-end, center, column);
    position: fixed;
}

.no-scroll {
    overflow: hidden;
}

.counter {
    background-color: v.$color-primary;
    color: v.$text-light;
    display: block;
    text-align: center;
    border-radius: 10px;
    width: rem(18);
    height: rem(18);
    padding: rem(2) 0;
}
