@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../abstracts/functions' as *;
@use '../base/typography' as t;

.footer {
    @include m.flex-layout(space-between, flex-start, column);
    @include m.section-layout(rem(32), rem(16));
    gap: rem(64);
    margin-top: rem(86);
    position: relative;

    &__background {
        position: absolute;
        display: none;
    }

    &__top {
        @include m.flex-layout(space-between, flex-start, column);
        gap: rem(32);
    }

    &__heading {
        @include m.flex-layout(space-between, center, row);
        gap: rem(16);
    }

    &__heading-text {
        font-size: t.$font-xl;
        font-family: t.$font-primary;
    }

    &__para {
        font-size: t.$font-md;
        font-family: t.$font-primary;
        color: v.$color-text-secondary;
        line-height: 1.6;
    }

    &__socials {
        @include m.flex-layout(flex-start, center, row);
        font-size: t.$font-2xl;
        gap: rem(32);
    }

    &__bottom {
        @include m.flex-layout(space-between, flex-start, column);
        width: 100%;
        gap: rem(63);
        margin-top: rem(16);
    }

    &__section {
        @include m.flex-layout(space-between, flex-start, column);
        width: 100%;
    }

    &__dropdown-button {
        @include m.flex-layout(space-between, center, row);
        font-size: t.$font-xl;
        font-family: t.$font-primary;
        font-weight: t.$weight-700;
        width: 100%;
        background: transparent;
    }

    &__link-container {
        @include m.flex-layout(space-between, flex-start, column);
        gap: rem(24);
        display: none;
        padding-top: rem(16);
    }

    &__content {
        word-break: break-word;
    }

    &__dropdown-icon {
        transition: all 0.3s ease;
    }
}

.accordion {
    display: flex;
}

.rotate {
    transform: rotate(180deg);
}

@media screen and (min-width: 431px) {
    .footer {
        @include m.section-layout(rem(64), rem(64));
        margin-top: rem(152);

        &__background {
            display: block;
            right: 0;
            top: rem(213);
        }

        &__para {
            font-size: t.$font-xl;
        }

        &__bottom {
            display: grid;
            gap: rem(30);
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 0;
        }

        &__section {
            @include m.flex-layout(flex-start, flex-start, column);
            gap: rem(32);
        }

        &__dropdown-heading {
            font-size: t.$font-xl;
            font-family: t.$font-primary;
        }

        &__link-container {
            @include m.flex-layout(space-between, flex-start, column);
            gap: rem(40);
            padding-top: 0;
        }

        &__dropdown-icon {
            display: none;
        }
    }
}

@media screen and (min-width: 1025px) {
    .footer {
        @include m.section-layout(rem(32), rem(117));
        flex-direction: row;
        gap: rem(16);
        margin-top: rem(228);

        &__background {
            top: rem(23);
        }
    }
}
