@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../abstracts/functions' as *;
@use '../base/typography' as t;

.navbar {
    @include m.flex-layout(center, center, column);
    width: 100vw;
    align-items: center;
    position: relative;
    font-family: t.$font-primary;

    &__container {
        @include m.flex-layout(space-between, center, row-reverse);
        @include m.section-layout(rem(32), rem(16));
        flex-direction: row-reverse;
        align-items: center;
    }

    &__gradient-layer {
        width: rem(272);
        height: rem(348);
        background-color: v.$color-accent;
        position: absolute;
        opacity: 50%;
        border-radius: 50%;
        filter: blur(150px);
        left: -rem(153);
        top: -rem(150);
        z-index: v.$z-index_20;
    }

    &__hamburger {
        font-size: t.$font-3xl;
        z-index: v.$z-index_30;
        background: transparent;
    }

    &__link-container {
        justify-content: space-around;
        display: none;
        font-size: t.$font-sm;
        font-weight: t.$weight-700;
    }

    &__links {
        color: v.$text-muted;
        text-align: center;
    }

    &__links--active {
        color: v.$color-text-primary;
    }

    &__popup {
        @include m.flex-layout(space-evenly, center, column);
        width: 100%;
        height: rem(400);
        position: absolute;
        top: -rem(500);
        left: 0;
        border: 1px solid rgb(233, 233, 233);
        z-index: v.$z-index_10;
        font-family: t.$font-primary;
        transition: all 0.3s ease;
        visibility: hidden;
        background-color: white;
    }

    .active {
        top: rem(110);
        visibility: visible;
    }

    &__popup-link-container {
        @include m.flex-layout(center, center, column);
        list-style: none;
        gap: rem(25);

        font-size: t.$font-lg;
        font-weight: t.$weight-700;
        background-color: white;

        li {
            text-align: center;
        }
    }

    &__popup-auth {
        @include m.flex-layout(center, center, column);
    }
}

@media screen and (max-width: rem(431)) {
    .navbar {
        &__auth {
            display: none;
        }
    }
}

@media screen and (min-width: rem(431)) {
    .navbar {
        &__container {
            flex-direction: row;
            @include m.section-layout(rem(32), rem(63));
        }

        &__popup-auth {
            display: none;
        }

        &__popup {
            width: 50%;
            position: absolute;
            left: -rem(500);
            top: rem(100);
            justify-content: center;
            transition: all 0.3s ease;
        }

        &__popup-link-container {
            padding: rem(20);

            li {
                text-align: start;
            }
        }

        .active {
            top: rem(100);
            left: 0;
        }
    }
}

@media screen and (min-width: rem(1025)) {
    .navbar {
        &__container {
            @include m.section-layout(rem(65), rem(117));
        }

        &__link-container {
            width: 40%;
            display: flex;
            justify-content: space-between;
        }

        &__hamburger {
            display: none;
        }

        &__popup {
            display: none;
        }

        &__logo {
            position: static;
        }
    }
}
