@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../abstracts/functions' as *;
@use '../base/typography' as t;

.slider {
    @include m.section-layout(rem(32), rem(16));
    @include m.flex-layout(space-between, center, column);
    margin-top: rem(100);
    gap: rem(16);
}

.review {
    @include m.flex-layout(space-between, center, column);
    gap: rem(64);
    font-family: t.$font-primary;
    margin-top: rem(47);
    margin-bottom: rem(64);

    &__profile-pic {
        border-radius: 100%;
        width: rem(128);
        height: rem(128);
        overflow: hidden;
    }

    .profile-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__detail {
        @include m.flex-layout(space-between, center, column);
        gap: rem(32);
    }

    &__reviewer-name {
        color: v.$color-accent;
        font-size: rem(28);
        font-weight: t.$weight-700;
    }

    &__reviewer-interest {
        color: v.$color-text-secondary;
        font-weight: t.$weight-700;
        font-size: rem(23);
    }

    &__description {
        text-align: center;
        font-size: t.$font-lg;
        font-weight: t.$weight-450;
        line-height: 160%;
        color: v.$color-text-secondary;
    }

    &__stars {
        @include m.flex-layout(center, center, row);
        gap: rem(16);
    }

    .star {
        font-size: t.$font-2xl;
    }
}

.splide {
    width: 100vw;
    position: relative;

    &__track {
        width: 100%;
    }

    &__arrows {
        position: absolute;
        width: 100%;
        top: 20%;
    }

    .splide__arrow:hover:not(:disabled) {
        background-color: v.$color-primary;
        color: white;
    }

    .splide__arrow:focus-within:not(:disabled) {
        background-color: v.$color-primary;
        color: white;
    }

    .left-arrow {
        width: rem(64);
        height: rem(64);
        background-color: white;
        border: 1px solid rgba(25, 24, 37, 0.1);
    }

    .right-arrow {
        width: rem(64);
        height: rem(64);
        background-color: white;
        border: 1px solid rgba(25, 24, 37, 0.1);
    }

    .right-arrow-span {
        transform: rotate(180deg);
    }

    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__pagination {
        top: 100%;
        height: rem(24);
        display: flex;
        justify-content: center;
        gap: rem(32);
        margin-top: rem(64);

        li {
            height: rem(24);
            width: rem(24);

            button {
                width: 100%;
                height: 100%;
            }
        }
    }

    .splide__pagination__page {
        background-color: rgba(25, 24, 37, 0.05);
    }

    .splide__pagination__page.is-active {
        background-color: v.$color-secondary;
        transform: scale(1);
    }

    &__pagination__page.is-active {
        transform: scale(1);
    }
}

@media screen and (min-width: rem(431)) {
    .slider {
        margin-top: rem(8);
        padding-top: rem(24);

        &__subheading {
            font-size: 1.5rem;
        }

        &__heading {
            font-size: 2.5rem;
        }
    }

    .splide .left-arrow {
        width: rem(100);
        height: rem(100);
    }

    .splide .right-arrow {
        width: rem(100);
        height: rem(100);
    }

    .splide__arrows {
        width: 91%;
        top: 42%;
        left: 4.5%;
    }

    .review {
        width: 60%;
        gap: rem(58);
        margin-top: rem(40);
        margin-bottom: rem(48);

        &__description {
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width: rem(1025)) {
    .slider {
        margin-top: rem(88);

        &__heading {
            font-size: 44px;
        }
    }

    .splide__arrows {
        width: 85%;
        left: 8%;
    }
}
