@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../abstracts/functions' as *;
@use '../base/typography' as t;

.slider {
    @include m.section-layout(rem(32), rem(16));
    @include m.flex-layout(space-between, center, column);
    margin-top: rem(100);
    gap: rem(16);
    position: relative;

    &__background {
        position: absolute;
        width: 100vw;
        display: none;
    }
}

.review {
    @include m.flex-layout(space-between, center, column);
    gap: rem(64);
    font-family: t.$font-primary;
    margin-top: rem(47);
    margin-bottom: rem(64);

    &__profile-pic {
        border-radius: 100%;
        width: rem(128);
        height: rem(128);
        overflow: hidden;
    }

    &__profile-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__detail {
        @include m.flex-layout(space-between, center, column);
        gap: rem(32);
    }

    &__reviewer-name {
        color: v.$color-accent;
        font-size: rem(28);
        font-weight: t.$weight-700;
    }

    &__reviewer-interest {
        color: v.$color-text-secondary;
        font-weight: t.$weight-700;
        font-size: rem(23);
    }

    &__description {
        text-align: center;
        font-size: t.$font-lg;
        font-weight: t.$weight-450;
        line-height: 1.6;
        color: v.$color-text-secondary;
    }

    &__stars {
        @include m.flex-layout(center, center, row);
        gap: rem(16);
    }

    &__star {
        font-size: t.$font-2xl;
    }
}

.splide {
    width: 100vw;
    position: relative;

    &__track {
        width: 100%;
    }

    &__arrows {
        position: absolute;
        width: 100%;
        top: rem(108);
    }

    .splide__arrow:hover:not(:disabled) {
        background-color: v.$color-primary;
        color: v.$color-light;
    }

    .splide__arrow:focus-within:not(:disabled) {
        background-color: v.$color-primary;
        color: v.$color-light;
    }

    .splide__left-arrow {
        width: rem(64);
        height: rem(64);
        background-color: v.$color-light;
        border: v.$border;
    }

    .splide__right-arrow {
        width: rem(64);
        height: rem(64);
        background-color: v.$color-light;
        border: v.$border;
    }

    .splide__right-arrow-span {
        transform: rotate(180deg);
    }

    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__pagination {
        bottom: 0;
        height: rem(24);
        display: flex;
        justify-content: center;
        gap: rem(32);
        margin-top: rem(64);

        li {
            height: rem(24);
            width: rem(24);

            button {
                width: 100%;
                height: 100%;
            }
        }
    }

    .splide__pagination__page {
        background-color: rgba(25, 24, 37, 0.05);
    }

    .splide__pagination__page.is-active {
        background-color: v.$color-secondary;
        transform: scale(1);
    }

    &__pagination__page.is-active {
        transform: scale(1);
    }
}

@media screen and (min-width: 431px) {
    .slider {
        margin-top: rem(8);
        padding-top: rem(16);

        &__background {
            display: block;
            top: rem(-116);
        }

        &__subheading {
            font-size: t.$font-xl;
        }

        &__heading {
            font-size: t.$font-3xl;
        }
    }

    .splide {
        &__arrows {
            width: 100%;
            top: rem(228);
        }

        .splide__left-arrow {
            position: absolute;
            left: rem(64);
            width: rem(100);
            height: rem(100);
        }

        .splide__right-arrow {
            position: absolute;
            right: rem(64);
            width: rem(100);
            height: rem(100);
        }
    }

    .review {
        width: 60%;
        gap: rem(58);
        margin-top: rem(40);
        margin-bottom: rem(48);

        &__description {
            font-size: rem(20);
        }
    }
}

@media screen and (min-width: 1025px) {
    .slider {
        margin-top: rem(88);

        &__heading {
            font-size: rem(44);
        }

        &__background {
            display: block;
            top: rem(-242);
        }
    }

    .splide {
        .splide__left-arrow {
            position: absolute;
            left: rem(52);
        }

        .splide__right-arrow {
            position: absolute;
            right: rem(52);
        }
    }
}
