@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../abstracts/functions' as *;
@use '../base/typography' as t;

.splide {
    width: 100vw;
    position: relative;
    width: min(100vw, 1440px);

    &__list {
        transform: translateX(0);
    }

    &__track {
        width: 100%;
    }

    &__arrows {
        position: absolute;
        width: 100%;
        top: rem(108);
    }

    .splide__arrow:hover:not(:disabled) {
        background-color: v.$color-primary;
        color: v.$color-light;
    }

    .splide__arrow:focus-within:not(:disabled) {
        background-color: v.$color-primary;
        color: v.$color-light;
    }

    .splide__left-arrow {
        width: rem(64);
        height: rem(64);
        background-color: v.$color-light;
        border: v.$border-primary;
    }

    .splide__right-arrow {
        width: rem(64);
        height: rem(64);
        background-color: v.$color-light;
        border: v.$border-primary;
    }

    .splide__right-arrow-span {
        transform: rotate(180deg);
    }

    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__pagination {
        bottom: 0;
        height: rem(24);
        display: flex;
        justify-content: center;
        gap: rem(32);
        margin-top: rem(64);

        li {
            height: rem(24);
            width: rem(24);

            button {
                width: 100%;
                height: 100%;
            }
        }
    }

    .splide__pagination__page {
        background-color: rgba(25, 24, 37, 0.05);
    }

    .splide__pagination__page.is-active {
        background-color: v.$color-secondary;
        transform: scale(1);
    }

    &__pagination__page.is-active {
        transform: scale(1);
    }
}

@media screen and (min-width: v.$tablet-sm) {
    .splide {
        &__arrows {
            width: 100%;
            top: rem(228);
        }

        .splide__left-arrow {
            position: absolute;
            left: rem(64);
            width: rem(100);
            height: rem(100);
        }

        .splide__right-arrow {
            position: absolute;
            right: rem(64);
            width: rem(100);
            height: rem(100);
        }
    }
}

@media screen and (min-width: v.$desktop) {
    .splide {
        &__arrows {
            width: min(100%, 1440px);
            margin-inline: auto;
            top: rem(206);
        }

        .splide__left-arrow {
            position: absolute;

            left: rem(117);
        }

        .splide__right-arrow {
            position: absolute;
            right: rem(117);
        }
    }
}
