@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../abstracts/functions' as *;
@use '../base/typography' as t;

.picker {
    width: 227px;
    height: 236px;
    position: relative;

    &__wheel {
        @include m.flex-layout(center, center, row);
        width: 227px;
        height: 227px;
        background-color: v.$text-light;
        border-radius: 100%;
        position: absolute;
        bottom: 0;
        overflow: hidden;
        border: 4px solid v.$color-light;
        box-shadow: 0 0 38px rgba(0, 0, 0, 0.2);
    }

    &__loading {
        font-size: 12px;
        font-family: t.$font-secondary;
        color: v.$color-dark;
        font-weight: 400;
    }

    &__pointer {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        display: none;
    }

    &__box {
        @include m.flex-layout(center, center, row);
        height: 100%;
    }

    &__box-content {
        color: v.$color-light;
        font-family: t.$font-secondary;
        font-weight: t.$weight-700;
        font-size: 12px;
        text-align: center;
        width: 84px;
    }

    &__box1 {
        background-color: v.$deals-color-accent-1;
    }

    &__offer1 {
        transform: rotate(135deg);
    }

    &__box2 {
        background-color: v.$deals-color-accent-2;
    }
    &__offer2 {
        transform: rotate(225deg);
    }

    &__box3 {
        background-color: v.$deals-color-accent-3;
    }
    &__offer3 {
        transform: rotate(45deg);
    }

    &__box4 {
        background-color: v.$deals-color-accent-4;
        color: v.$color-dark;
    }
    &__offer4 {
        transform: rotate(315deg);
    }

    &__spin-button {
        background-color: v.$color-light;
        width: 43.79px;
        height: 43.79px;
        position: absolute;
        top: 42%;
        left: 40%;
        border: 4px solid v.$deals-color-accent-1;
        border-radius: 100%;
        font-size: 10px;
        font-family: t.$font-secondary;
        font-weight: t.$weight-700;
        color: v.$deals-color-accent-1;
        display: none;
    }
}
.wheel-ready {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    border: 4px solid v.$color-light;
    transition: all 5s ease-out;
    background-color: v.$color-light;
}
