@use '../abstracts/variables' as v;
@use '../base/typography' as t;
@use '../abstracts/functions' as *;

@mixin flex-layout($justify: center, $align: center, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin section-layout(
    $padding-top-bottom: rem(35),
    $padding-left-right: rem(16)
) {
    padding: $padding-top-bottom $padding-left-right;
}
