$color-primary: #5d50c6;
$color-secondary: #f85e9f;
$text-muted: rgba(25, 24, 37, 0.5);
$color-text-secondary: rgba(25, 24, 37, 0.75);
$color-text-primary: #222831;
$text-light: #eeeeee;
$color-accent: #ff5722;

$blue-button: #5d50c6;
$white-button: #ffffff;
$pink-text: #f85e9f;
$gray-text: rgba(25, 24, 37, 0.5);
$dark-gray-text: rgba(25, 24, 37, 0.75);
$dark-text: #222831;
$light-text: #eeeeee;
$orange-text: #ff5722;

$small-link: 14px;
$big-link: 18px;
