$color-primary: #5d50c6;
$color-secondary: #f85e9f;
$text-muted: rgba(25, 24, 37, 0.5);
$color-text-secondary: rgba(25, 24, 37, 0.75);
$color-text-primary: #222831;
$text-light: #eeeeee;
$color-accent: #ff5722;
