// color variables
$color-primary: #5d50c6;
$color-secondary: #f85e9f;
$text-muted: rgba(25, 24, 37, 0.5);
$color-text-secondary: rgba(25, 24, 37, 0.75);
$color-text-primary: #222831;
$text-light: #eeeeee;
$color-accent-primary: #ff5722;
$color-accent-secondary: #facd49;
$color-light: #ffffff;
$color-dark: #000000;
$color-background-disabled: rgba(0, 0, 0, 0.5);

// deals section colors
$deals-color-accent-1: #f4436c;
$deals-color-accent-2: #7c3aed;
$deals-color-accent-3: #06b6d4;
$deals-color-accent-4: #fbbf24;
$color-expired: $text-light;
$deals-section-heading-color: #111827;

// z-indexes
$z-index_10: 10;
$z-index_20: 20;
$z-index_30: 30;
$z-index_50: 50;

// border-colors
$border-color-gray: $text-light;

// shadow variable
$button-shadow: 0 27px 38px rgba(0, 0, 0, 0.2);
$shadow-evenly: 0 0 38px rgba(0, 0, 0, 0.2);

//border variable
$border-primary: 1px solid rgba(25, 24, 37, 0.1);
$border-secondary: 1px solid $border-color-gray;
$border-expired: 1px solid rgba(0, 0, 0, 0.2);
$border-light: 1px solid #e5e7eb;
$border-prize: 1px solid rgba(244, 67, 108, 0.2);
$border-wheel-section: 4px solid $color-light;
$border-accented: 4px solid $deals-color-accent-1;
