@use '../abstracts/variables' as v;

// font families
$font-primary: 'Circular Std', Helvetica, Arial, sans-serif;
$font-secondary: 'Inter', Helvetica, Arial, sans-serif;

// font weights
$weight-400: 400;
$weight-450: 450;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;

// font size variables
$font-3xsm: 0.4375rem; //7px
$font-2xsm: 0.6rem; //10px
$font-xsm: 0.75rem; //12px
$font-sm: 0.875rem; //14px
$font-md: 1rem; //16px
$font-lg: 1.125rem; //18px
$font-xl: 1.5rem; //24px
$font-2xl: 2rem; //32px
$font-3xl: 2.5rem; //40px
$font-4xl: 3.5rem; //56px
$font-5xl: 4.375rem; //70px

@font-face {
    font-family: 'Inter';
    src: url(../../../assets/fonts/Inter-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(../../../assets/fonts/Inter-Medium.woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(../../../assets/fonts/Inter-Bold.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url(../../../assets/fonts/CircularStd-Book.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url(../../../assets/fonts/CircularStd-Medium.woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url(../../../assets/fonts/CircularStd-Bold.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.heading {
    font-family: $font-primary;
    font-weight: $weight-700;
    font-size: $font-3xl;
    text-align: center;
    line-height: 1.2;
    color: v.$color-text-primary;
}

.small-heading {
    font-family: $font-primary;
    font-weight: $weight-700;
    font-size: $font-2xl;
    color: v.$color-text-primary;
    line-height: 1.2;
    text-align: center;
}

.subheading {
    font-family: $font-primary;
    font-weight: $weight-700;
    font-size: $font-md;
    letter-spacing: 0.2em;
    line-height: 1.2;
    color: v.$color-secondary;
    text-align: center;
}

.paragraph {
    font-family: $font-secondary;
    font-size: $font-md;
    line-height: 1.6;
    color: v.$text-muted;
    font-weight: $weight-400;
    text-align: center;
}

.modal-heading {
    font-size: $font-xsm;
    font-family: $font-secondary;
    font-weight: $weight-700;
}

.modal-subheading {
    font-family: $font-secondary;
    font-weight: 600;
    font-size: $font-xsm;
    letter-spacing: 0.1;
    line-height: 1;
    color: v.$deals-color-accent-1;
}

.modal-paragraph {
    font-family: $font-secondary;
    color: v.$text-muted;
    font-size: $font-xsm;
    line-height: 1;
}

.link-lg {
    font-size: $font-lg;
    font-family: $font-secondary;
    color: v.$color-text-secondary;
    font-weight: $weight-400;
    text-align: start;
}

.link-sm {
    font-size: $font-sm;
    font-weight: $weight-700;
    color: v.$text-muted;
    text-align: center;
}

.card-label {
    font-family: $font-secondary;
    font-weight: $weight-600;
    font-size: $font-sm;
    &--accented {
        font-size: $font-xsm;
        color: v.$deals-color-accent-2;
        font-weight: $weight-400;
    }
}

.caption {
    font-size: $font-xsm;
    font-family: $font-secondary;
    color: v.$color-dark;
    font-weight: $weight-400;
}
