// font families
$font-primary: CircularStd;
$font-secondary: Inter;

// font weights
$heading-weight: 700;
$sub-heading-weight: 700;
$paragraph-weight: 400;

// font size variables
$small-link: 14px;
$big-link: 18px;
